<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.35/dist/themes/base.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.35/dist/shoelace.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script src="{{url_for('static',filename='main.js')}}" defer></script>
</head>

<body>
    <div class="nav">
        <h2>Heart Failure Prediction</h2>
    </div>
    <div class="fields">
        <sl-input class="inp" placeholder="Test Value One" id='inp1'></sl-input>
        <sl-button class="inp" id="butt">Button</sl-button>
    </div>
</body>

</html>